@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-container: var(--container-3xl);
  --ui-radius: 0.375rem;
}

@theme {
  --font-sans: "Space Grotesk", sans-serif;
}

.dark {
  --ui-radius: 0.375rem;
}

.statusbar-probe {
  display: none;
}

@media (display-mode: standalone) {
  .statusbar-probe {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: calc(env(safe-area-inset-top) + 11px);
    z-index: 9999999999;
    pointer-events: none;
    overflow: hidden;
    background-color: var(--ui-bg);
    transition: background-color 0.5s cubic-bezier(0.32, 0.72, 0, 1);
  }

  .statusbar-probe::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--ui-bg-elevated);
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.32, 0.72, 0, 1);
  }

  body:has([data-vaul-overlay]) .statusbar-probe::before {
    opacity: 0.75;
  }

  body:has([data-vaul-overlay][data-state="closed"]) .statusbar-probe::before {
    opacity: 0;
  }
}

/* Hide scrollbar but keep scroll functionality */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
